venv/
# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
/static/
/media/

# VS Code
.vscode/

# Docker
*.pid

# Environment
.env

# OS
.DS_Store
Thumbs.db

# Python
*.pyo
*.pyd
*.env

# Migrations
*/migrations/*
!*/migrations/__init__.py
